
    <div class="header banner-background" style="background-image: url('{{ banner }}');">

    </div>

    <div class="main">
        <ul class="content no-margin no-padding">
            <div>
                {% for item in articlelist %}
                    <a href="/article/index/{{ item.id }}" class="article" style="background-image: url('{{ item.thumbnail }}')">
                        <div class="black-mask">
                            <div class="article-info">
                                <h3 class="article-title">{{ item.title }}</h3>
                                <div class="article-date">{{ item.create_time }}</div>
                                <div class="am-show-sm">
                                    <span class="hole-btn article-btn">阅读全文</span>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </ul>
    </div>


